@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Kanit:ital,wght@1,300&display=swap');
/* Font Family */
*{
  background-color: #1C1B22;
    font-family: 'Gabarito', cursive;
    font-family: 'Kanit', sans-serif;
}

/* Headers */
h1{
  white-space: nowrap;
  color: white;
  display: flex;
  justify-content: center;
}
/* main body style */
.wraper{
  color: #ffc0cb;
  border: 2px groove;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 3em;
  padding-top: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* space between buttons - Main*/
.buttons{
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Upload button */
.Upload{ 
  font-size: 20px;
  background-color:  	#303030;
  color: white;
  /* border: 1px dashed #4CAF50;  */
  border: none;
  border-radius: 3px;
  transition: 0.2s;
  }
  .Upload:hover {
    background-color: #4CAF50;
    color: black; 
    border-radius: 3em;
    color: white;
  }
/* Download button */
.Download{
  font-size: 20px;
  background-color: #303030;
  color: white;
  /* border: 1px dashed #DA2C38;  */
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  padding: 6%;
}
.Download:hover {
  background-color: #DA2C38;
  color: black; 
  border-radius: 3em;
  color: white;
}
/* Download item button */
.Download_item{
  font-size: 14px;
  background-color: #303030;
  color: white;
  /* border: 1px dashed #DA2C38;  */
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  padding: 2%;
}
.Download_item:hover {
  background-color: #DA2C38;
  color: black; 
  border-radius: 3em;
  color: white;
}
/* space between buttons - Upload*/
  .cf{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
  }

/* Download list - not working*/
.db{
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.dw_wrap{ 
  display: inline-grid;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px);

}
.button_dw{
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.781);
  align-self: center;
  font-size: 1em;
  margin: 10px;
  height: 90px;
  width: 250px;
  padding: 15px;
  border: none;
  background-color: rgb(54, 61, 82);
  border-radius: 10px;
  transition: 0.3s;
  /* text-wrap: balance; */
}


.button_dw:hover{
  background-color: #f3ffb96e ;
}
